# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Decomposed processor directories
processor*

# Reconstructed mesh and solution time steps
[0-9]*
[0-9]*.*

# Reconstructed polyMesh
*/*/polyMesh

# Other temporary or large files
log*
postProcessing/
reconstructPar*