# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Extra copy of OpenFOAM repo in my folder (oops)
OpenFOAM-13/

# Decomposed processor directories
processor*

# Reconstructed mesh and solution time steps
[0-9]*
[0-9]*.*
!0/

# Reconstructed polyMesh
*/*/polyMesh

# Other temporary or large files
log*
postProcessing/
reconstructPar*

# Large polyMeshFiles 
*/constant/polyMesh/faces
*/constant/polyMesh/points
*/constant/polyMeshSave
*/constant/polyMesh/
CFD/IBF_CFD/constant/polyMesh/boundary
CFD/IBF_CFD/constant/polyMesh/faces
CFD/IBF_CFD/constant/polyMesh/neighbour
CFD/IBF_CFD/constant/polyMesh/owner
CFD/IBF_CFD/constant/polyMesh/points
